.main {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  flex: 1;
  min-height: 0;
  max-width: 1240px;
}
