
.feed-statuses {
    display: flex;
    min-width: 0;
    gap: 36px;
}

.ready-feeds, .progress-feeds {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
    min-width: 0;
    height: fit-content;
}

.ready-feeds .feed-numbers {
    color: var(--colors-interface-success);
}

.progress-feeds .feed-numbers {
    color: white;
}

.feed-numbers {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 20px;
    height: fit-content;
}

.feed-numbers-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
  min-width: 0;
  width: fit-content;
  flex-shrink: 0;
}