.header {
	display: grid;
	grid-template-columns: 1fr;
}

.feed-number {
	text-align: center;
	margin-bottom: 40px;
}

.feed-title {
	margin-bottom: 12px;
}

.feed-status {
	color: var(--colors-interface-success);
}