.content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.reloadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
