.content {
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: hidden;
}

.elements {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding-right: 8px;
  scroll-snap-type: y mandatory;
}

.elements-empty {
  border: 2px dashed var(--background-element);;
  border-radius: 20px;
  margin-left: 32px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elements div {
  scroll-snap-align: start;
}

.header,
.footer {
  margin-left: 32px;
  padding-right: 8px;
}
