.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
}

.description {
    color: #8585AD;
}