.header {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1280px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    justify-content: flex-end;
}

.navigationList li {
    display: inline;
}